.callout-container {
    height: 66vh;

    background: url("https://cdn.pixabay.com/photo/2018/12/05/13/04/kite-surfing-3857698_1280.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: left;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#logo {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 50%;
}

nav ul a {
    color: #344c5c;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}