<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Kitesurf Spots in Europe</title>
</head>
<body>

    <header>
        <nav class="nav-extended white">
            <div class="nav-wrapper">
                <a href="{{ url_for('kite_spots') }}" class="brand-logo"><img id="logo" src="../static/img/logo.png"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="black-text fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('kite_spots') }}">Home</a></li>
                    <li><a href="#">Spots</a></li>
                    <li><a href="#">Countries</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('log_in') }}">Log In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- mobile sidenav -->
		<ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('kite_spots') }}">Home</a></li>
            <li><a href="#">Spots</a></li>
            <li><a href="#">Countries</a></li>
		</ul>

        {% block header %}
        {% endblock %}
    
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row center-align">
                        <div class="col l4 z-depth-4 flash teal offset-m3 offset-s2 offset-l4">
                            <h4 id="flash-msg">{{ message }}</h4>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

<footer class="page-footer">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col l6 s12" id="footer-links">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Spots</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Countries</a></li>
                  {% if session.user %}
                  <li><a class="grey-text text-lighten-3" href="#!">Profile</a></li>

                  <li><a class="grey-text text-lighten-3" href="#!">Log in</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Sign Up</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12" id="social-media">
                <div class="row" class="center-align valign-wrapper">
                    <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/kristinabog" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/kristina-bogdanovic-407918202/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
     </div>
    <div class="footer-copyright valign-wrapper">
        <div class="container white-text center-align">
            <p>&copy; 2021 Copyright</p>
        </div>
    </div>
</footer>

</html>