<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" href="../static/img/favicon.png"/>
    {% block styles %}
    {% endblock %}
    <title>Kitesurf Spots in Europe</title>
</head>
<body>
    <header>
        <!-- navbar -->
        <nav class="nav-extended white">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo"><img id="logo" src="../static/img/logo.png" alt="Logo"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="black-text fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('spots') }}">Spots</a></li>
                    <li><a href="{{ url_for('countries') }}">Countries</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_spot') }}">Add Spot</a></li>
                        <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('log_in') }}">Log In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- navbar -->
        <!-- mobile sidenav -->
		<ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('spots') }}">Spots</a></li>
            <li><a href="{{ url_for('countries') }}">Countries</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_spot') }}">Add Spot</a></li>
                <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('log_in') }}">Log In</a></li>
                <li><a href="{{ url_for('sign_up') }}">Sign up</a></li>
            {% endif %}
		</ul>
        <!-- mobile sidenav -->
        
        {% block header %}
        {% endblock %}
    
    </header>
    <!-- flash messages -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row center-align">
                        <h4><span class="z-depth-1" id="flash-msg">{{ message }}</span></h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!-- flash messages -->

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
    <!-- footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col l6 s12" id="footer-links">
                    <ul>
                    <li><a class="grey-text text-lighten-3" href="{{ url_for('home') }}">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ url_for('spots') }}">Spots</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ url_for('countries') }}">Countries</a></li>
                    </ul>
                </div>
                <div class="col l4 offset-l2 s12" id="social-media">
                    <div class="row center-align valign-wrapper">
                        <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/kristinabog" target="_blank"><i class="fab fa-github"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/kristina-bogdanovic-407918202/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright valign-wrapper">
            <div class="container white-text center-align">
                <p>&copy; 2021 Copyright</p>
            </div>
        </div>
    </footer>
<!-- footer -->
</body>

</html>