{% extends "base.html" %}
{% block header %}
        <div class="blue-container valign-wrapper">
            <div class="row center-align" id="row-home">
                <div class="col">
                    <hr class="heading-hr">
                    <h1 class="heading">Countries</h1>
                    <hr class="heading-hr">
                </div>
            </div>
        </div>
{% endblock %}
{% block content %}
<div class="container center-align montserrat">
    <div class="row country-grid center-align">
        {% for country in countries %}
            <a href="{{ url_for('country', country_id=country._id) }}" class="col country-col valign-wrapper center-align" 
                style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ country.country_img }}');">
                <div class="row">
                    <h2 class="country-title">{{ country.country_name }}</h2>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}