{% extends "base.html" %}
{% block content %}
<div class="container gen-container">
    <div class="card-panel col s12 m8 l6 center-align">
        <div class="row">
            <hr class="heading-hr">
            <h3 class="heading center-align heading-bg">{{ country.country_name }}</h3>
            <hr class="heading-hr">
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2 country-info">
                <p>{{ country.country_description }}</p>
            </div>
        </div>
        <div class="row">
            <h4 class="wind-season">Wind Season</h4>
            {% if country.country_wind %}
                <img src="{{ country.country_wind }}" id="wind-img">
            {% else %}
                {% if country.country_name == 'Spain' %}
                    <p>All year varied</p>
                {% endif%}
            {% endif %}
        </div>
        <div class="row">
            <hr class="heading-hr">
            <h3 class="heading center-align heading-bg">Kitespots</h3>
            <hr class="heading-hr hr-margin">
        </div>
        <div class="row center-align">
            <div id="map"></div>
        </div>
    </div>
</div>

{% endblock %}