{% extends "base.html" %}
{% block content %}
    <div class="container gen-container">
        <div class="card-panel col s12 m8 l6">
            <hr class="heading-hr">
            <h3 class="heading center-align heading-bg">Edit Country</h3>
            <hr class="heading-hr hr-margin">
            <form class="col s12 form-margin" method="POST" action="{{ url_for('edit_country', country_id=country._id) }}">
                <!-- country name and image -->
                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="fas fa-globe-europe prefix teal-text"></i>
                        <input id="country_name" name="country_name" value="{{ country.country_name }}"
                            minlength="4" maxlength="50" type="text" class="validate" required>
                        <label for="country_name">Name</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="country_img" name="country_img" value="{{ country.country_img }}"
                            type="text" class="validate" required>
                        <label for="country_img">Image URL</label>
                        <span class="helper-text" data-error="Required">Valid image URL</span>
                    </div>
                </div>
                <!-- description and wind diagram-->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="country_description" name="country_description"
                            minlength="5" maxlength="330" class="materialize-textarea validate" required>{{ country.country_description }}</textarea>
                        <label for="country_description">Description</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="country_wind" name="country_wind"
                            minlength="5" class="materialize-textarea validate" required>{{ country.country_wind }}</textarea>
                        <label for="country_wind">Wind diagram</label>
                    </div>
                </div>
                <!-- submit button-->
                <div class="row center-align">
                    <button type="submit" class="btn teal waves-effect waves-light">
                        <span>Submit</span>
                    </button>
                    <a href="{{ url_for('profile', username=session.user) }}" class="btn teal waves-effect waves-light">
                        <span>Cancel</span>
                    </a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}