{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="row">
                    <h2 class="intro-header">About</h2>
                    <p class="intro-p">
                        Welcome to our website with a sharing community of kitesurfers!
                        We offer a fun way of sharing and finding kitesurf spots in Europe.
                        Are you planning of travelling somewhere and do not have enough time to research
                        great kitesurf spots and would like to get advice from locals and ex-visitors? 
                        Then you are in the right place!
                    </p>
                </div>
                <div class="row">
                    <h2 class="intro-header">What is Kitesurfing?</h2>
                    <p class="intro-p">
                        Kitesurfing is a wind powered surface watersport using a kite and a board to move across the water.
                        Kitesurfing harnesses the power of the wind through a large parachute type kite to propel a rider across the 
                        water on a small surfboard or a kiteboard (similar to a wakeboard). Although the name includes surfing, 
                        kitesurfing does not need waves, the wind is the only force needed to power you along.
                        Kites with inflatable tubes are used to produce the pull from the wind. The inflatable parts of the kites help 
                        hold the shape and also allow the kite to float and therefore be re-launched from the water.
                    </p>
                </div>
            </div>
            <div class="col s12 m6 center-align">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12570.32963395042!2d24.3065087!3d38.0335137!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6dfcd76e00592054!2sKitegreece%20Royal%20Sand%20Marmari%20Surf%20Club!5e0!3m2!1sen!2sbe!4v1615489568194!5m2!1sen!2sbe" 
                width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

{% endblock %}