{% extends "base.html" %}
{% block content %}
            <div class="container login-container valign-wrapper">
                <div class="row center-align">
                       <!-- username -->
                    <div class="login-wrap z-depth-4">
                        <div class="col s12 m6 login-left">
                        </div>
                        <form class="col s12 m6 login-right" method="POST" action="{{ url_for('log_in') }}">
                            <div class="row">
                                <hr class="hr-login">
                                <h2 class="login-header">Log In</h2>
                                <hr class="hr-login">
                                <div class="input-field col s12">
                                    <i class="prefix material-icons">perm_identity</i>
                                    <input id="username" name="username" type="text" class="validate">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <!-- password -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="prefix material-icons">lock_outline</i>
                                    <input id="password" name="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                                <!-- Log In -->
                            <div class="row">
                                <button type="submit" class="col s4 offset-m4 offset-s4 btn teal waves-effect waves-light">
                                        Log In
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


{% endblock %}