{% extends "base.html" %}
{% block content %}
    <div class="container login-container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <hr class="hr-profile">
                    <h3 class="center-align header" id="profile-h-bg">
                        <span>Your Profile</span>
                    </h3>
                    <hr class="hr-profile">
                </div>
            </div>
        </div>
    </div>

{% endblock %}