{% extends "base.html" %}
{% block content %}
    <div class="container gen-container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <!-- Profile section -->
                    <div class="row">
                        <hr class="hr-profile">
                        <h3 class="center-align header profile-h-bg">
                            <span>Your Profile</span>
                        </h3>
                        <hr class="hr-profile">
                    </div>
                    <div class="row center-align">
                        <p>
                            Username: {{ session.user }}
                        </p>
                    </div>
                    <!-- Profile section -->
                    <!-- Spots section -->
                    <div class="row">
                        <hr class="hr-profile">
                        <h3 class="center-align header profile-h-bg">
                            <span>Your Spots</span>
                        </h3>
                        <hr class="hr-profile">
                    </div>
                    <div class="row center-align">
                        <a href="{{ url_for('add_spot') }}" class="btn teal waves-effect waves-light">
                            <i class="fas fa-plus-square right"></i>Add Spot
                        </a>
                    </div>
                    <div class="row center-align">
                        <!-- Display spots of the user -->
                        {% if spots %}
                            <ul class="collection">
                                {% for spot in spots %}
                                    {% if session.user|lower == spot.created_by|lower %}
                                        <li class="collection-item avatar">
                                            <img src="{{ spot.spot_image }}" alt="{{ spot.spot_name }}" class="circle">
                                            <span class="title" style="float: left;">{{ spot.spot_name }}</span>
                                            <div style="float: right;">
                                                <a href="{{ url_for('edit_spot', spot_id=spot._id) }}" class="btn teal waves-effect waves-light">
                                                    <span>Edit</span>
                                                </a>
                                                <a href="{{ url_for('delete_spot', spot_id=spot._id) }}" class="btn teal waves-effect waves-light">
                                                    <span>Delete</span>
                                                </a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>You have no spots yet.</p>  
                        {% endif %}
                    </div>
                    <!-- Spots section -->
                    <!-- Countries section - only visible to admin-->
                    {% if session.user|lower == "admin"|lower %}
                    <div class="row">
                        <hr class="hr-profile">
                        <h3 class="center-align header profile-h-bg">
                            <span>Countries</span>
                        </h3>
                        <hr class="hr-profile">
                    </div>
                    <div class="row center-align">
                        <a href="{{ url_for('add_country') }}" class="btn teal waves-effect waves-light">
                            Add Country<i class="fas fa-plus-square right"></i>
                        </a>
                    </div>
                    <!-- Collection of countries -->
                    <div class="row center-align">
                        <ul class="collection">
                            {% for country in countries %}
                                <li class="collection-item avatar">
                                    <img src="{{ country.country_img }}" alt="{{ country.country_name }}" class="circle">
                                    <span class="title" style="float: left;">{{ country.country_name }}</span>
                                    <div style="float: right;">
                                        <a href="{{ url_for('edit_country', country_id=country._id) }}" class="btn teal waves-effect waves-light">
                                            <span>Edit</span>
                                        </a>
                                        <a href="{{ url_for('delete_country', country_id=country._id) }}" class="btn teal waves-effect waves-light">
                                            <span>Delete</span>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Collection of countries -->
                    {% endif %}
                    <!-- Countries section - only visible to admin-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}