{% extends "base.html" %}
{% block content %}
<div class="container gen-container">
    <div class="card-panel col s12 m8 l6 center-align">
        <div class="row">
            <hr class="heading-hr">
            <h3 class="heading center-align heading-bg spot-name">{{ spot.spot_name }}</h3>
            <p class="heading-bg bold">By {{ spot.created_by }}</p>
            <hr class="heading-hr hr-margin">
        </div>
        <div class="row">
            <div class="col s12">
                <img src="{{ spot.spot_image }}" class="spot-img responsive-img">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <p>
                    <span class="bold">Country:</span>
                    {{ spot.country_name }}
                </p>
                <p>
                    <span class="bold">Region:</span>
                    {{ spot.spot_region }}
                </p>
            </div>
            <div class="col s12 m6">
                <p>
                    <span class="bold">Best time:</span>
                    {{ spot.spot_best_time }}
                </p>
                <p>
                    <span class="bold">Level:</span>
                    {{ spot.spot_level }}
                </p>
            </div>
        </div>
        <div class="row">
            <p class="spot-des">{{ spot.spot_description }}</p>
        </div>
    </div>
</div>

{% endblock %}